@import "bootstrap/dist/css/bootstrap.min.css";

.poker-card {
   font-family: 'Georgia', serif;
    overflow: hidden;
    width: 350px; 
    height: 500px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.suit{
    font-size: 80px;
    line-height: 1;
}

#new-card-btn{
    background-color:#d3d3d3;
}